/* @import '@fontsource/fira-mono'; */

:root {
	font-family: "YS Text", "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: 400;
	line-height: 1.4;

	--font-0: 14px;
	--font-1: 16px;
	--font-2: 18px;
	--font-3: 20px;
	--font-4: 24px;
	--font-5: 28px;
	--font-6: 32px;

	--color-8: rgba(40, 50, 60);
	--color-7: rgb(50, 60, 70);
	--color-6: rgb(60, 70, 80);
	--color-5: rgb(85, 95, 105);
	--color-4: rgb(115, 125, 135);
	--color-3: rgb(145, 155, 165);
	--color-2: rgb(175, 185, 195);
	--color-1: rgb(224, 225, 226);
	--color-0: rgb(248, 249, 250);

	--color-red: rgb(185, 60, 60);
	--color-green: rgb(30, 150, 30);
	--color-blue: rgb(50, 50, 150);

	--icon-filter: invert(30%);
}

[data-theme='dark'] {
	--color-0: rgba(33, 35, 37);
	--color-1: rgb(45, 50, 65);
	--color-2: rgb(57, 65, 73);
	--color-3: rgb(85, 95, 105);
	--color-4: rgb(115, 125, 135);
	--color-5: rgb(145, 155, 165);
	--color-6: rgb(160, 170, 180);
	--color-7: rgb(175, 185, 195);
	--color-8: rgb(190, 195, 200);

	--color-red: rgb(190, 60, 60);
	--color-green: rgb(25, 140, 25);
	--color-blue: rgb(105, 105, 220);

	--icon-filter: invert(70%);
}

html {
	background-color: var(--color-0);
}


body {
	margin: 0;
	padding: 0;

	min-height: 100vh;

	color: var(--color-7);
	font-size: var(--font-3);
	background-color: var(--color-0);
}

input,
textarea,
button,
select,
a {
	-webkit-tap-highlight-color: transparent;
}

h1 {
	font-size: var(--font-6);
}

h2 {
	font-size: var(--font-5);
}

h3 {
	font-size: var(--font-4);
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

input,
button {
	font-size: inherit;
	font-family: inherit;
	transition: all 0.3s ease-in;
	padding: 10px 15px;
}

a,
a:hover {
	text-decoration: none;
}

button {
	background-color: var(--color-4);
	color: var(--color-0);
	border: none;
	border-radius: 10px;
	cursor: pointer;
}

button:hover,
button:active {
	background-color: var(--color-6);
}

button:disabled {
	background-color: var(--color-3);
	cursor: auto;
}

input {
	border-radius: 10px;
	border: 1px solid var(--color-2);
	background-color: var(--color-0);
	color: var(--color-7);
	outline: none;
}

input:hover {
	border: 1px solid var(--color-4);
}

input:focus {
	border: 1px solid var(--color-6);
}

input::placeholder {
	opacity: 70%;
}

input.failed {
	border: 1px solid var(--color-red);
}

span.failed {
	color: var(--color-red);
	font-size: var(--font-0);
	text-align: center;
	width: 100%;
}

button.link,
h1,
h2,
h3 {
	padding: 0;
	margin: 0;
	font-weight: 400;
}

a,
button.link {
	color: var(--color-4);
}

a:hover,
button.link:hover {
	opacity: 70%;
}

button.link {
	border: none;
	background: none;
	display: inline-block;
	width: auto;
}

button.icon {
	background: none;
	border: none;
	padding: 0;
	margin: 0;
	width: auto;
	cursor: pointer;
}

button.icon:hover {
	background: none;
	border: none;
	opacity: 80%;
}

img.icon {
	width: 38px;
	filter: var(--icon-filter);
	padding: 6px;
}

.title {
	width: 100%;
	text-align: center;
	align-self: center;
	font-size: var(--font-2);
	opacity: 70%;
}

.main {
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: calc(100% - 20px);
	padding: 0 10px;
}

.form {
	max-width: 300px;
}

.menu {
	padding-top: 50px;
}